* {
  font-family: Cambria;
}

body {
  background-color: Linen;
}

aside,
header,
footer {
  background-color: steelblue;
  color: white;
  text-align: center;
}

aside {
  width: 25%;
  height: 510px;
  margin: 0% 1%;
  box-shadow: 4px 4px 5px dimgray;
}

header {
  width: 73%;
  height: 80px;
}

main {
  width: 73%;
  height: 400px;
}

button {
  background-color: steelblue;
  color: white;
  width: 20%;
  padding: 15px;
  margin-top: 30px;
  font-size: 130%;
  border: none;
}

button:hover {
  background-color: Navy;
}

section {
  background-color: lightblue;
  margin-right: 80px;
  padding: 10px;
}

#s2,
#s3 {
  display: none;
}

#pasekPostepu {
  background-color: lightgrey;
  width: 73%;
  margin-bottom: 10px;
  float: right;
}

#postep {
  background-color: navy;
  width: 4%;
  height: 30px;
}

table {
  width: 100%;
  border: 1px dotted Navy;
}

footer {
  clear: both;
}

aside {
  float: left;
}

header,
main,
#pasekPostepu {
  float: right;
}
