body{
    font-family: Serif;
}

header, footer{
    background-color: Indigo;
    color: white;
    padding: 10px;
    text-align: center;
}

article{
   background-color: blueviolet; 
   padding: 10px;
   text-align: right;
}

aside, section{
    background-color: Lavender;
    height: 500px;
}

aside{
    width: 25%;
    float: left;
}

section{
    width: 35%;
    float: left;
}

main{  
    background-color: GhostWhite;
    text-align: center;
    height: 500px;
    width: 40%;
    float: left;
}

section img{
    float: right;
    width: 50%;
    padding: 10px;
}

footer{
    clear: both;
}

p{
    color: white;
    font-size: 150%;
    font-style: italic;
}

table, form{
    margin: 30px;
}

table, tr, td{
    border-collapse: collapse;
    border: 1px solid Indigo;
}

th, td{
    padding: 3px;
}