* {
  text-align: center;
  font-family: Georgia;
}

header,
footer {
  background-color: tomato;
  color: MistyRose;
  padding: 10px;
}

nav {
  width: 20%;
  float: left;
  display: block;
}

article {
  background-color: #ffaea5;
  height: 170px;
  font-size: 200%;
}

#b1 {
  background-color: MistyRose;
}

main {
  background-color: MistyRose;
  width: 80%;
  height: 510px;
  float: left;
  display: block;
  overflow: auto;
}

#s2,
#s3 {
  display: none;
}

table {
  margin: auto;
  width: 60%;
  border: 1px dashed indigo;
}

select,
input {
  margin: 20px;
}

dt {
  font-style: italic;
  font-weight: bold;
}

dt:hover {
  font-size: 180%;
}
