body {
  font-family: sans-serif;
  text-align: center;
  background-color: #fce4ec;
}

header,
footer {
  background-color: #880e4f;
  color: white;
  padding: 10px;
  letter-spacing: 20px;
}

section {
  float: left;
  width: 50%;
  height: 600px;
  overflow: auto;
}

article {
  float: left;
  background-color: #880e4f;
  color: white;
  width: 40%;
  height: 500px;
  margin: 35px;
  box-shadow: 10px 10px 15px dimgray;
}

table {
  width: 70%;
  margin: auto;
}

tr:hover {
  background-color: #f8bbd0;
}

input,
select,
button {
  margin: 5px;
  width: 70%;
}

footer {
  clear: both;
}

footer a {
  text-decoration: none;
  color: rgb(209, 4, 151);
  text-shadow: 5px 5px 10px black;
}
