body {
  font-family: Georgia;
  color: white;
}

header,
footer {
  background-color: #824555;
  text-align: center;
  padding: 20px;
}

article,
main {
  width: 30%;
  height: 350px;
  float: left;
}

article {
  background-color: #a26475;
}

main {
  background-color: #824555;
}

section {
  float: left;
  background-color: #a26470;
  width: 40%;
  height: 350px;
  overflow: auto;
}

footer {
  clear: both;
}

img {
  float: left;
  width: 50px;
}

th,
td,
p,
dt {
  margin: 10px;
}

dt {
  padding-top: 20px;
}

th,
td {
  border: 3px solid #824555;
  padding: 5px;
}
