body {
  background-color: #ddeedd;
  font-family: Thaoma;
  text-align: center;
}

Ul {
  list-style-type: square;
}

li {
  text-align: left;
}

header,
footer {
  font-size: 120%;
  padding: 10px;
  color: white;
}

header {
  background-color: #409fff;
}

footer {
  background-color: #a0a0a0;
  clear: both;
}

nav {
  background-color: #ffffff;
  word-spacing: 30px;
  padding: 10px;
}

aside {
  background-color: #e4c0a8;
  width: 30%;
  height: 650px;
  float: left;
}

section {
  width: 70%;
  height: 650px;
  overflow: auto;
  float: left;
}

a {
  color: #009900;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  margin: auto;
  margin-top: 20px;
}

img {
  width: 90%;
}
