*{
    font-family: Garamond;
    color: white;  
    margin: 0px;
}

header{
    background-color: indigo;
    text-align: center;
    padding: 2px;
}

aside, section{
    background-color: indigo;
    height: 600px;
    width: 20%;
    float: left;
}

article{
    background-color: black;
    height: 600px;
    overflow-x: scroll;
    overflow-y: scroll; 
    width: 60%;
    float: left;
    text-align: center;
    margin: 0px;
}

figure{
    float: left;
    padding: 3px;
    text-align: center;
}

@media only screen and (max-width: 800px){
    aside, section, article {
        width: 100%;
        float: none;
    }
}

footer{
    clear: both;
    background-color: indigo;
    height: 150px;
}

.Numberpoint{
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
}

li{
    padding: 5px;
}

input{
    margin: 10px;
    color: indigo;
}

button{
    color: black;
}
