* {
  font-family: Verdana;
}

body {
  background-image: linear-gradient(Teal, AliceBlue);
  color: white;
  text-align: center;
  margin: 0px 20px;
}

img {
  display: block;
  width: 100%;
  position: fixed;
  margin-top: 70px;
  z-index: -1;
}

a {
  font-size: 130%;
  padding: 30px;
  color: white;
}

header {
  background-color: rgb(160, 82, 45);
  opacity: 0.6;
  padding: 10px 10px 10px 10px;
  margin-top: 100px;
  border-radius: 15px 15px 0px 0px;
}

main {
  background-color: SandyBrown;
  padding: 30px;
}

footer {
  background-color: Sienna;
  padding: 30px;
  border-radius: 0px 0px 15px 15px;
}

h1 {
  text-shadow: 2px 2px 5px black;
}

table {
  margin: auto;
  width: 70%;
  background-color: Sienna;
}

table,
td {
  border: 1px solid SandyBrown;
  border-collapse: collapse;
}
