* {
  font-family: sans-serif;
}

aside {
  background-color: #c5cae9;
  width: 40%;
  height: 600px;
  overflow: auto;
  float: left;
}

section {
  width: 60%;
  height: 300px;
  float: left;
}

#s1 {
  background-color: #9fa8da;
}

#s2 {
  background-color: #7986cb;
}

footer {
  clear: both;
  background-color: #283593;
  color: white;
  padding: 20px;
}

.opona {
  background-color: #9fa8da;
  margin: 40px;
  border: 2px dotted #283593;
  border-radius: 30px;
}

img {
  float: left;
  margin: 20px;
}

h2 {
  text-align: center;
  margin: 0px;
  padding: 20px;
}

h3 {
  background-color: #7986cb;
  color: white;
  font-size: 140%;
}
